
SHOPIFY_CLIENT_ID=f30a8d00e4a8baff1f96f2e85f92838b
SHOPIFY_CLIENT_SECRET=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

SHOPIFY_API_VERSION=2026-04
SUPABASE_URL=https://mvfkwlidwqcyqczlauii.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Kn9imwGfMBZRCBRAKecp5Q_e_o7tqDE
evics_supabase_key=sb_secret_DBQb9GlcCYbtKFEE2siI8A_9pto9olp
APP_AUTOMATION_TOKEN=atkn_d54cdd409897749f52914ab0eab881d9939f81cf151303c4907701c6d3b94e66
NGROK_AUTHTOKEN=3Dj06aKgpK0YtC4qCYSxHyx1mYu_3Rz7aPTF5Vo7w1cqNNAXY
OPENAI_API_KEY=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
CANVA_API_KEY=9e621151-e6e8-4480-9456-27f532badce1
CANVA_TOKEN=cd733a10-b98f-4c4b-a2f2-fe8723da9ed6
CANVA_BACKUP_CODES=XM73-G354 6PC7-2VCP F6XC-PPF8 F5X7-6252 3QFH-MJ84 6MMH-8FR2 82CH-MP5F QP7G-4J8P 2Q9W-9PRJ Q39F-9RXF
EVICS_Integration=OC-AZ5ccvbKrQwq
HEYGEN_API_KEY=sk_V2_hgu_kNNODlScES1_j94iCRKP00o3GBv0kGIgd599LLiZxAt9
RUNWAY_API_KEY=key_e73fe48877af174a4b5bcee2b6f36fdd103b1ec0a3c57cd9817e4d827d73294c435aac71c79550a3cbb74ce4a7b86847704ce3e57bdd4f2a66de46fb668a65b5
KLING_API_KEY=AMyyDhKDCtmQBrHJJPpeHmQm4JK4hTyk
KLING_SECRET_KEY=tdJHPdRDE3nPDmHBY8DRJHBaKPJJ8ygN
TIKTOK_CLIENT_KEY=awq6y8z30nk96sph
META_APP_SECRET=EAGDZBaLTpPtgBRgPOnr4BkCtg4GP5QIbnJjOpRK7QS5zNpOlfv668ytDZBm4uyLXWhwsgiE38vH631L4JZBMCzvnxMU2mnxzSwDdFgifNZCgkTGdv9qyKsZBRTZBncsXX7wexZCllvvKecdNEsfqG991xltKHlluXE8laZAPZB8CuuOF1yDGdUe97XzsjO1l3gQJw55mdQ4YPsJUmIY71vNHZCOqjEQKVRIV7ic1AF7iaZBZCMDwXkZAqycS5Y8eU6amcnwpSYdSVY0dpFY4NhHaEFgZDZD
META_Client_secret=hi8RsaNNQsX2tfwGJNOKoXq0whDXnkVN

partners_api_evics=sb_secret_Kn9imwGfMBZRCBRAKecp5Q_e_o7tqDE.sb_secret_DBQb9GlcCYbtKFEE2siI8A_9pto9olp,3c21dc40-4689-44f2-95f9-0b3a31d21b50
TWIN_AGENT_API_KEY=twin_f7c4f6044205f76bf38dfa02c42ba8bf_AnZD52RWJozjoL9-ML_gBYG2YAq7bGe7A0VjghR7KiI
SLACK_CLIENT_ID=10923657048882.10932179113461
SLACK_CLIENT_SECRET=ff55faf602b15b82f441991eb97536c7
SLACK_SIGNING_SECRET=898066d31a7f041f07890c34b9cb7a37
Verification_Token=MPzO6PaCI9qklVjWVWwDZJv2
SLACK_EVICS_SCOPES_APP_LEVEL_TOKEN=xapp-1-A0ATE593BDK-11287950999904-d9f33dcca794cc5ec9dd001653584ae339ce18607f195fc0664fb6963e686f04
FIRECRAWL_API_KEY=
GOOGLE_CLOUD_HEAD_DEPLOYMENT_ID=AKfycbwYTVhtnOElhxXPSK3NvzBSth1y4a32znpguDRP3NzU
cloud_trigger_key=AIzaSyAwZCl5Nec12Ku29r9QRTbvsbhkND-X23E
CLOUD_API_KEY=AIzaSyAWGDFSU8NGaAOrdMpOlYviac7JdmNG62M

GOOGLE_CLOUD_PROJECT_ID=evics-api
GOOGLE_APPLICATION_CREDENTIALS="C:\\Users\\rolan\\OneDrive\\GitHub For I AM GENESIS TECH\\GenesisAI folder\\IAGT_AI_VIRAL_ENGINE\\evics-keys.json"
GOOGLE_DRIVE_FOLDER_ID=NEEDS_CREATION
GOOGLE_SHEETS_SPREADSHEET_ID=NEEDS_CREATION
GOOGLE_CLOUD_STORAGE_BUCKET=NEEDS_CREATION
